@import "./variables.css";

.page--auth {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* === Main === */
.form--auth {
    width: 400px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 16px;
    background-color: var(--color-bg);
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.2);
}

.input-field--auth {
    position: relative;
    width: 100%;
}

.input-field--auth > input {
    outline: none;
    width: 100%;
    padding: 6px;
    border: none;
    border-bottom: 1px solid var(--color-border);
    font-size: var(--font-size-base);
    z-index: 100;
}

.input-field--auth > label {
    cursor: text;
    position: absolute;
    transform-origin: top left;
    top: 6px;
    left: 6px;
    font-size: var(--font-size-base);
    color: var(--color-text-secondary);
    pointer-events: none;
    z-index: 101;
    transition: transform 0.2s ease, font-size 0.2s ease;
}

.input-field--auth > p {
    text-align: right;
    margin: 6px 6px 0 0;
    font-size: var(--font-size-small);
    color: var(--color-text-secondary);
}

/* Invalid mode */
.input-field--auth.invalid > input {
    border-bottom: 1px solid var(--color-danger);
}

.input-field--auth.invalid > label,
.input-field--auth.invalid > p {
    color: var(--color-danger);
}

/* Manual placeholder */
.input-field--auth > input:focus {
    border-bottom: 1.5px solid var(--color-primary);
}

.input-field--auth > input:focus + label {
    transform: translateY(-16px);
    color: var(--color-primary);
    font-size: 11px;
}

.input-field--auth > input:not(:placeholder-shown) + label {
    transform: translateY(-16px);
    font-size: 11px;
}

/* === Bottom panel === */
.bottom-panel--auth {
    width: 100%;
}

.send-btn {
    cursor: pointer;
    width: 100%;
    height: 44px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 4px;
    border: none;
    background-color: var(--color-primary);
    color: var(--color-text-light);
    transition: background-color 0.3s ease;
}

.send-btn:hover {
    background-color: var(--color-primary-dark);
}

.info {
    text-align: center;
    margin-top: 16px;
    font-size: var(--font-size-small);
}

.link {
    cursor: pointer;
    font-size: var(--font-size-small);
    font-weight: 500;
    color: var(--color-primary);
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .auth-form {
        border-radius: 0;
        box-shadow: none;
    }
}
